@import "../../css/variables.module.scss";

.excalidraw {
  .collab-button {
    --button-bg: var(--color-primary);
    --button-color: var(--color-surface-lowest);
    --button-border: var(--color-primary);

    --button-width: var(--lg-button-size);
    --button-height: var(--lg-button-size);

    --button-hover-bg: var(--color-primary-darker);
    --button-hover-border: var(--color-primary-darker);

    --button-active-bg: var(--color-primary-darker);

    box-shadow: 0 0 0 1px var(--color-surface-lowest);

    flex-shrink: 0;

    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &.active {
      background: var(--color-primary-light);
      border-color: var(--color-primary);
    }

    &.active.active {
      background-color: #0fb884;
      border-color: #0fb884;

      svg {
        color: #fff;
      }

      &:hover,
      &:active {
        background-color: #0fb884;
        border-color: #0fb884;
      }
    }
  }

  .CollabButton.is-collaborating {
    background-color: var(--button-special-active-bg-color);

    .ToolIcon__icon svg,
    .ToolIcon__label {
      color: var(--icon-green-fill-color);
    }
  }

  .CollabButton-collaborators {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--color-primary);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
  }
}
